<div class="session">
  <h1 class="session__header">
    Sign in
  </h1>

  <%= simple_form_for @user, url: session_path, html: { class: "session__form" } do |f| %>
    <%= form_error_notification(@user) %>

    <%= f.input :email_address,
                required: true,
                autofocus: true,
                autocomplete: "username",
                placeholder: "Enter your email address" %>

    <%= f.input :password,
                required: true,
                autocomplete: "current-password",
                placeholder: "Enter your password",
                maxlength: 72 %>

    <div class="form__actions">
      <%= f.submit "Sign in", class: "btn btn--primary" %>
    </div>
  <% end %>

  <div class="session__footer">
    <%= link_to "Forgot password?", new_password_path, class: "session__footer__link" %>
  </div>
</div>
